$dark-primary-color    : #512DA8; 
$primary-color         : #673AB7; 
$light-primary-color   : #D1C4E9;
$background-color      : #D1C4E9; 
$text-primary-color    : #FFFFFF; 
$accent-color          : #E040FB; 
$primary-text-color    : #212121; 
$secondary-text-color  : #757575; 
$divider-color         : #BDBDBD;
$divider-heigth        :8px; 
    