.button-float{
    position: fixed!important;
    right: 34px!important;
    bottom: 0!important;
    width: 80px!important;
    height: 80px!important;
    border-radius: 50%!important;
    margin-bottom: 80px!important;
    transition: background 2s,width 2s,height 2s,padding 2.8s!important;
    z-index: 1000000;

}
.button-float:active{
    background-image: radial-gradient(#E040FB, rgb(241, 177, 252), rgb(195, 162, 201));
    width: 95px;
    height: 95px;
    padding: 10px;
}
.button-float #img-float{
    /*margin: 50em 50em;*/
    position: fixed!important;
    padding: 8px!important;
    width: 80px!important;
    height: 80px!important;
    
} 